In [3]:
import numpy as np
import pandas as pd
import regex as re
import plotly.express as px

In [8]:
df = px.data.iris()

In [10]:
df.shape

(150, 6)

In [11]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species  species_id
0           5.1          3.5           1.4          0.2  setosa           1
1           4.9          3.0           1.4          0.2  setosa           1
2           4.7          3.2           1.3          0.2  setosa           1
3           4.6          3.1           1.5          0.2  setosa           1
4           5.0          3.6           1.4          0.2  setosa           1

In [12]:
df['species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [16]:
print(df[df['species']=='setosa'].sepal_length.mean())
print(df[df['species']=='versicolor'].sepal_length.mean())
print(df[df['species']=='virginica'].sepal_length.mean())

5.006
5.936
6.587999999999998